$success-main: #66bb6a;
$success-dark: #388e3c;

.success-input {
    label {
        color: $success-main !important;
    }
    fieldset {
        border-color: $success-main !important;
    }
    p {
        color: $success-dark;
    }
}

.loading-menu {
    div.MuiPopover-paper {
        width: 50px;
        text-align: center;
    }
}

#view-recipe-accordion-details {
    &::before {
        background-color: unset;
    }
}
